# On évite des erreurs 500 si mod_rewrite n'est pas installé
<IfModule mod_rewrite.c>

  # On active mod_rewrite
	RewriteEngine On

  # Placé dans un dossier, ce htaccess redirige toutes les requêtes vers ailleurs
	RewriteRule ^(.*)$	http://planf.be/$1	[R=301,L]

  # Rediriger toutes les requêtes sur un autre nom de domaine
	RewriteCond %{HTTP_HOST} ^(www\.)?montagnemagique.be$
	RewriteRule (.*) http://theatremontagnemagique.be/$1 [R=301,L]
	
  # forcer le www en début d'adresse
  	RewriteCond %{HTTP_HOST} !^www\. [NC]
  	RewriteRule ^ http%{ENV:protossl}://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	
  # Redirection sur https
	RewriteCond %{HTTPS} !on$	
	RewriteRule ^(.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # Redirection d'une page sur une autre
 	RewriteCond %{REQUEST_URI} -Agenda-
 	RewriteRule ^(.*) http://%{HTTP_HOST}/spip.php?page=agendabe [R,L]

</IfModule>
